# Exclude user-specific settings
*.xcuserdatad
xcuserdata/

# Exclude build and runtime files
build/
DerivedData/

# Exclude CocoaPods dependencies
Pods/

# Exclude Carthage dependencies
Carthage/Build

# MacOS Finder files
.DS_Store

# Swift Package Manager
.generated/
